{% extends "base.html" %}
{% block title %}Vote{% endblock %}
{% block content %}
<style>
    .card {
        display: flex;
        flex-direction: column;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-img-top {
        object-fit: cover;
        height: 300px; /* Adjust the height as necessary */
    }
    .h1tag {
        font-weight: lighter;
        margin-bottom: 30px;
    }
    .catfont {
        font-weight: lighter;
    }
    .error-message {
        color: red;
        font-weight: bold;
        margin-top: 10px;
    }
    .vote-count-btn {
        font-size: large;
    }
    .btn-green {
        background-color: green;
        color: white;
    }
    .btn-yellow {
        background-color: yellow;
        color: black;
    }
    .btn-red {
        background-color: red;
        color: white;
    }
</style>

<div class="container mt-5">
    <h2 class="text-center h1tag">You can vote only once in each position</h2>
    
    {% if error_message %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="error-message">{{ error_message }}</div>
        </div>
    </div>
    {% endif %}
    
    {% for category in categories %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category.id }}">
        <h2 class="text-center catfont">CATEGORY: {{ category.category_name }} ELECTION</h2> <!-- Display category name dynamically -->
        <div class="row justify-content-center">
            {% for candidate in category.candidates_with_votes %}
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="{{ candidate.image.url }}" class="card-img-top" alt="Candidate Image">
                    <div class="card-body text-center d-flex flex-column">
                        <h5 class="card-title"><b>{{ candidate.first_name|upper }} {{ candidate.middle_name|upper }} {{ candidate.last_name|upper }}</b></h5>
                        <p class="card-text">COURSE: <b>{{ candidate.course|upper }}</b></p>
                        <p class="card-text">
                            LEVEL: <b>{{ candidate.level_of_study|upper }} 
                            {% if candidate.year_of_study == 1 %}st{% elif candidate.year_of_study == 2 %}nd{% elif candidate.year_of_study == 3 %}rd{% else %}th{% endif %} YEAR</b>
                        </p>
                        <p class="card-text">POSITION: <b>{{ candidate.position|upper }}</b></p>
                        {% if category.user_has_voted %}
                            <p id="vote-count-{{ candidate.id }}" class="card-text btn vote-count-btn {% if candidate.id == category.leading_candidate_id %}btn-green{% elif candidate.id in category.tied_candidates %}btn-red{% else %}btn-yellow{% endif %}">Vote Counts: <b>{{ candidate.vote_count }}</b></p>
                        {% endif %}
                        <div class="mt-auto">
                            <input type="radio" id="candidate{{ candidate.id }}" name="candidate" value="{{ candidate.id }}" class="form-check-input">
                            <label for="candidate{{ candidate.id }}" class="form-check-label">Select</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if not category.user_has_voted %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block mb-5">Submit Vote</button>
            </div>
        </div>
        {% endif %}
    </form>
    {% endfor %}
</div>

<script>
    function updateVoteCountButtons(categories) {
        categories.forEach(category => {
            category.candidates.forEach(candidate => {
                const voteCountElem = document.getElementById(`vote-count-${candidate.id}`);
                if (voteCountElem) {
                    if (candidate.id === category.leading_candidate_id) {
                        voteCountElem.classList.remove('btn-yellow', 'btn-red');
                        voteCountElem.classList.add('btn-green');
                    } else if (category.tied_candidates.includes(candidate.id)) {
                        voteCountElem.classList.remove('btn-green', 'btn-yellow');
                        voteCountElem.classList.add('btn-red');
                    } else {
                        voteCountElem.classList.remove('btn-green', 'btn-red');
                        voteCountElem.classList.add('btn-yellow');
                    }
                    voteCountElem.innerHTML = `Vote Counts: <b>${candidate.vote_count}</b>`;
                }
            });
        });
    }

    setInterval(function() {
        fetch('/api/get_vote_counts/')
            .then(response => response.json())
            .then(data => {
                updateVoteCountButtons(data.categories);
            })
            .catch(error => console.error('Error fetching vote counts:', error));
    }, 5000);  // Update every 5 seconds
</script>

{% endblock %}
