{% extends "base.html" %}
{% block title %}Vote{% endblock %}
{% block content %}
<style>
    .card {
        display: flex;
        flex-direction: column;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-img-top {
        object-fit: cover;
        height: 300px; /* Adjust the height as necessary */
    }
    .h1tag {
        font-weight: lighter;
        margin-bottom: 30px;
    }
    .catfont {
        font-weight: lighter;
    }
    .error-message {
        color: red;
        font-weight: bold;
        margin-top: 10px;
    }
    .vote-count-btn {
        font-size: large;
    }
    .btn-green {
        background-color: green;
        color: white;
    }
    .btn-yellow {
        background-color: yellow;
        color: black;
    }
    .btn-red {
        background-color: red;
        color: white;
    }
    .timer {
        font-weight: bold;
        color: blue;
    }
</style>

<div class="container mt-5">
    <h2 class="text-center h1tag">You can vote only once in each position</h2>
    
    {% if error_message %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="error-message">{{ error_message }}</div>
        </div>
    </div>
    {% endif %}
    
    {% for category in categories %}
        <div class="text-center">
            {% if category.voting_status == 'Not Started' %}
                <h3 class="timer" data-start-time="{{ category.voting_start_time|date:"c" }}">Voting starts at {{ category.voting_start_time|date:"Y-m-d H:i:s" }}</h3>
            {% elif category.voting_status == 'Ended' %}
                <h3 class="timer" data-end-time="{{ category.voting_end_time|date:"c" }}">Voting ended at {{ category.voting_end_time|date:"Y-m-d H:i:s" }}</h3>
            {% else %}
                <h3 class="timer btn btn-info text-white" data-end-time="{{ category.voting_end_time|date:"c" }}" data-id="{{ category.id }}">Time left: <span id="remaining-time-{{ category.id }}"></span></h3>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="category" value="{{ category.id }}">
                    <h2 class="text-center catfont">CATEGORY: {{ category.category_name }} ELECTION</h2>
                    <div class="row justify-content-center">
                        {% for candidate in category.candidates_with_votes %}
                        <div class="col-md-4 mb-4 d-flex align-items-stretch">
                            <div class="card">
                                <img src="{{ candidate.image.url }}" class="card-img-top" alt="Candidate Image">
                                <div class="card-body text-center d-flex flex-column">
                                    <h5 class="card-title"><b>{{ candidate.first_name|upper }} {{ candidate.middle_name|upper }} {{ candidate.last_name|upper }}</b></h5>
                                    <p class="card-text">COURSE: <b>{{ candidate.course|upper }}</b></p>
                                    <p class="card-text">POSITION: <b>{{ candidate.position|upper }}</b></p>
                                    {% if category.user_has_voted %}
                                        <p id="vote-count-{{ candidate.id }}" class="card-text btn vote-count-btn {% if candidate.id == category.leading_candidate_id %}btn-green{% elif candidate.id in category.tied_candidates %}btn-red{% else %}btn-yellow{% endif %}">Vote Counts: <b>{{ candidate.vote_count }}</b></p>
                                    {% endif %}
                                    <div class="mt-auto">
                                        <input type="radio" id="candidate{{ candidate.id }}" name="candidate" value="{{ candidate.id }}" class="form-check-input">
                                        <label for="candidate{{ candidate.id }}" class="form-check-label">Select</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if not category.user_has_voted %}
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block mb-5">Submit Vote</button>
                        </div>
                    </div>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    {% endfor %}
</div>

<script>
    function formatRemainingTime(timeInSeconds) {
        const hours = Math.floor(timeInSeconds / 3600);
        const minutes = Math.floor((timeInSeconds % 3600) / 60);
        const seconds = timeInSeconds % 60;
        return `${hours}h ${minutes}m ${seconds}s`;
    }

    function updateTimers() {
        document.querySelectorAll('.timer').forEach(function (element) {
            const startTime = new Date(element.getAttribute('data-start-time'));
            const endTime = new Date(element.getAttribute('data-end-time'));
            const now = new Date();
            let remainingTime;

            if (startTime && now < startTime) {
                remainingTime = Math.floor((startTime - now) / 1000);
                element.textContent = `Voting starts at ${startTime.toLocaleString()}`;
            } else if (endTime && now > endTime) {
                element.textContent = `Voting ended at ${endTime.toLocaleString()}`;
            } else if (endTime) {
                remainingTime = Math.floor((endTime - now) / 1000);
                document.getElementById('remaining-time-' + element.getAttribute('data-id')).textContent = formatRemainingTime(remainingTime);
            }
        });
    }

    setInterval(updateTimers, 1000);  // Update every second
    updateTimers();  // Initial call
</script>

{% endblock %}
